/* +++ General STYLES +++ */
.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

/* +++ Header Mobile (HMS) +++ */

.page {
    display: none;
}

.page-header {
    padding: 16px;
}

.adress-title {
    display: none;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio {
    color: #2E2F42;
}

/* +++ Mobile Media (modal) +++ */

@media (max-width: 767px) {

    .mobile-menu-open-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
        stroke: #2F2F37;
    }

    .mobile-menu-page {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        background-color: #FFF;
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-page.is-open {
        transform: translateX(0%);
    }

    .mobile-menu-container {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 72px 24px 40px 16px;
    }

    .mobile-menu-close-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 24px;
        right: 24px;
        background-color: transparent;
        border: 1px solid #E7E9FC;
        padding: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        line-height: 0;
        fill: #2E2F42;
        }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        margin-bottom: auto;
    }

    .mobile-contacts-media {
       margin-top: auto;
   }

    .mobile-menu-link {
        color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }

    .mobile-studio {
        color: #404BBF;
    }

    .mobile-address {
        font-style: normal;
        margin-top: 168px;
    }

    .mobile-data-item {
        padding-bottom: 24px;
    }
    
    .mobile-data-link {
        color: #434455;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .mobile-telephone {
        color: #4D5AE5;
    }

    .mobile-menu-social-list {
        justify-content: center;
        display: flex;
        gap: 40px;
        padding-top: 8px;
        margin-bottom: 40px;
    }

    .mobile-menu-social-item {
        width: 40px;
        height: 40px;
        margin-top: 24px;
    }
    
    .mobile-menu-social-link {
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .mobile-menu-media {
        fill: #F4F4FD;
    }
}


/* +++ Header Tablet (HTS) +++ */

 @media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .mobile-menu-open-btn {
        display: none;
    }

    .mobile-menu-wrapper {
        display: none;
    }

    .page {
        display: flex;
        gap: 40px;
    }

    .head-logo {
        margin-right: 120px;
    }

    .address-title {
        display: flex;
    }

    .main-nav {
        display: flex;
        align-items: center;
    }

    .menu-list {
        color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-list:hover,
    .menu-list:focus {
        color: #404BBF;
    }

    .address-title {
        font-style: normal;
    }

    .data-list {
        padding-bottom: 12px;
    }

    .data {
        color: #434455;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .studio-menu-list {
        position: relative;
        color: #404bbf;
    }

    .studio-menu-list::after {
        content: '';
        width: 48px;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
        position: absolute;
        bottom: -8px;
        left: 0;
    }
} 


/* +++ Header Desktop (HDS) +++ */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    .header-logo {
        margin-right: 76px;
    }

    .data {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .page-adress {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .studio-menu-list::after {
        bottom: -1px;
    }
}

/* +++ Section 1 (Mobile) +++ */

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-one {
    background-color: #2E2F42;
    padding: 72px 0;
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.70),
    rgba(46, 47, 66, 0.70)), 
    url(../images/party-mobile.jpg);
    background-size: cover;
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-raito: 2) {
    .section-one {
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)), 
        url(../images/party-mobile@2x.jpg);
    }
}

.section-one-title {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    max-width: 165px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.section-one-button {
    display: block;
    background-color: #4D5AE5;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
}

/* +++ Section 1 (Tablet) +++ */

@media screen and (min-width: 768px) {
    .section-main-title {
        padding: 112px 0;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)), 
            url(../images/party-tablet.jpg);
        max-width: 768px;
    }

    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-raito: 2) {
        .section-main-title {
            background-image: linear-gradient(
            rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)), 
            url(../images/party-tablet@2x.jpg);
        }
    }

    .section-one-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
        text-transform: none;
    }
}

/* +++ Section 1 (Desktop) */

@media screen and (min-width: 1158px) {

    .section {
        margin-bottom: 120px;
        margin-top: 120px;
    }

    .section-one {
        padding: 188px 0;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)), 
            url(../images/party-desktop.jpg);
        max-width: 1440px;
    }

    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-raito: 2) {
        .section-one {
            background-image: linear-gradient(
                rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
                url(../images/party-desktop@2x.jpg);
        }
    }

    .section-one-title {
        margin-bottom: 48px;
    }

    .section-one-button {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .section-one-button:hover,
    .section-one-button:focus {
        background-color: #404BBF;
    }
}

/* +++ Section 2 (Mobile) */

.icon-list {
    display: none;
}

.section-two-title {
    margin-bottom: 8px;
    align-self: stretch;
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    width: 288px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.two {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-two-items {
    width: 288px;
    margin-bottom: 72px;
}

.last-items{
    margin-bottom: 0;
}

/* +++ Section 2 (Tablet) */

@media screen and (min-width: 768px) {

    .section-title-two {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section-two-items {
        flex-basis: calc((100% - 24px) / 2);
    }

    .section-two-title {
        width: 264px;
        text-align: left;
    }

    .section-two-p {
        width: 356px;
    }
}

/* Section 2 (Desktop) */

@media screen and (min-width: 1158px) {
    .icon-list {
        display: flex;
        justify-content: flex-start;
    }

    .section-title-two {
        flex-wrap: nowrap;
        row-gap: 0;
    }

    .section-two-title {
        width: 264px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .two {
        font-weight: 400;
    }

    .sections-two-p {
        width: 264px;
    }

    .icon-list {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        background: #F4F4FD;
        margin-bottom: 8px;
    }

    .icon {
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        margin-bottom: 24px;
    }
}

/* +++ Section 3 (Mobile) +++ */

.section-three {
    background-color: #F4F4FD;
}

.our-team {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-three-title {
    margin-bottom: 72px;
}

.our-team-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-three-list {
    border-radius: 0px 0px 4px 4px;
    background-color: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    margin-bottom: 72px;
    max-width: 264px;
}

.name-profession {
    padding: 32px 0;
}

.title {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-three-list-item {
    margin-bottom: 8px;
    text-align: center;
}

.section-three-p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.social-network {
    display: flex;
    gap: 24px;
    margin-left: 12px;
    margin-right: 12px;
    padding-top: 8px;
    justify-content: center;
}

.social-icon {
    width: 40px;
    height: 40px;
}

.icon-item {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.massanger-icon {
    margin: 12px;
    fill: #F4F4FD;
}

/* +++ Section 3 (Tablet) */

@media screen and (min-width: 768px) {
    .section-four-portfolio {
        gap: 24px;
        row-gap: 64px;
    }

    .section-four-items {
        margin-bottom: 0;
    }

}

/* +++ Section 3 (Desktop) */

@media screen and (min-width: 1158px) {
    .our-team-title {
        flex-wrap: nowrap;
    }

    .icon-item {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .icon-item:hover,
    .icon-item:focus {
        background-color: #404BBF;
    }
}

/* +++ Section 4 (Mobile) */

.box-content {
    display: none;
}

.section-four-title {
    margin-bottom: 72px;
}

.section-four-portfolio {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}

.applications {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.section-four-list-item {
    margin-bottom: 8px;
    text-align: start;
}

.section-four-items {
    width: 288px;
    background-color: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* +++ Section 4 (Mobile) +++ */

.box-content {
    display: none;
}

.section-four-title {
    margin-bottom: 72px;
}

.section-four-portfolio {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}

.applications {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.section-four-list-item {
    margin-bottom: 8px;
    text-align: start;
}

.section-four-items {
    width: 288px;
    background-color: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* +++ Section 4 (Tablet) +++ */

@media screen and (min-width: 768px) {
    .section-four-portfolio {
       row-gap: 72px;
       column-gap: 24px;
}

    .section-four-items {
       width: 356px;
}
}

/* +++ Section 4 (Desktop) */

@media screen and (min-width: 1158px) {

    .section-four-portfolio {
         row-gap: 48px;
    }

    .section-four-items {
        width: 360px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .section-four-items:hover,
    .section-four-items:focus {
        box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08)
    }

    .overlayed {
        position: relative;
        overflow: hidden;
    }

    .box-content {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.5;
        color: #f4f4fd;
        background-color: #4D5AE5;
        width: 100%;
        height: 100%;
        padding: 40px 32px;
        overflow: auto;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .overlayed:hover .box-content {
        transform: translateY(0%);
    }
}

/* +++ Footer (Mobile) +++ */

.main-footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
}

.footer {
    background: #2E2F42;
    padding: 96px 0;
    display: flex;
}

.span-studio-two {
    color: #F4F4FD;
}

.footer-logo {
    display: block;
    margin-bottom: 16px;
    text-align: center;
}

.footer-p {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    min-width: 288px;
}

.social-media-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.social-network-footer {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.social-icon-footer {
    width: 40px;
    height: 40px;
}

.footer-paragraph {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscr {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.footer-label {
    display: flex;
}

.input {
    min-width: 288px;
    height: 40px;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    background-color: transparent;
}

.input::placeholder {
    color: #FFF;
}

.footer-btn {
    display: flex;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    background-color: #4D5AE5;
    color: #FFF;
    text-align: start;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

.icon-svg {
    fill: #F4F4FD;
    margin-left: 16px;
}